<mat-nav-list>
    <mat-list-item (click)="closeSideNav()">
      <mat-icon>person</mat-icon>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </mat-list-item>
    <mat-list-item (click)="closeSideNav()">
      <mat-icon>person_add</mat-icon>
      <a routerLink="/signin" routerLinkActive="active">Sign in</a>
    </mat-list-item>
    <mat-list-item (click)="closeSideNav()">
        <mat-icon>fitness_center</mat-icon>
        <a routerLink="/training" routerLinkActive="active">Training</a>
      </mat-list-item>
 </mat-nav-list>
